@import "../../scss/variables";

.last {
  height: 6rem;
  font-size: 1.2rem;
  text-align: center;
  background: linear-gradient(90deg, rgba(66,62,62,0.9948354341736695) 5%, rgba(97,74,45,1) 17%, rgba(110,93,59,1) 35%, rgba(14,55,64,1) 80%);
  font-family: "Nothing You Could Do", cursive;
padding-top: 2rem;
color: rgb(41, 215, 221);
}
